In [1]:
from sqlalchemy import create_engine, text
import pandas as pd

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:A222222a@localhost:5432/amazon_sales_db')

with engine.connect() as conn:
    result = conn.execute(text("SELECT version();"))
    for row in result:
        print(row)

('PostgreSQL 18.1 on x86_64-apple-darwin23.6.0, compiled by Apple clang version 16.0.0 (clang-1600.0.26.6), 64-bit',)

In [3]:
query = text("SELECT * FROM sales_raw;")
df_raw = pd.read_sql(query, engine)

print(df_raw.head())

      orderid   orderdate  customerid   customername productid  \
0  ORD0000001  2023-01-31  CUST001504  Vihaan Sharma    P00014
1  ORD0000002  2023-12-30  CUST000178    Pooja Kumar    P00040
2  ORD0000003  2022-05-10  CUST047516    Sneha Singh    P00044
3  ORD0000004  2023-07-18  CUST030059   Vihaan Reddy    P00041
4  ORD0000005  2023-02-04  CUST048677  Aditya Kapoor    P00029

           productname        category       brand  quantity  unitprice  \
0           Drone Mini           Books   BrightLux         3     106.59
1           Microphone  Home & Kitchen  UrbanStyle         1     251.37
2  Power Bank 20000mAh        Clothing  UrbanStyle         3      35.03
3       Webcam Full HD  Home & Kitchen      Zenith         5      33.58
4              T-Shirt        Clothing    KiddoFun         2     515.64

   discount    tax  shippingcost  totalamount     paymentmethod orderstatus  \
0      0.00   0.00          0.09       319.86        Debit Card   Delivered
1      0.05  19.10          1.74       259.64        Amazon Pay   Delivered
2      0.10   7.57          5.91       108.06        Debit Card   Delivered
3      0.15  11.42          5.53       159.66  Cash on Delivery   Delivered
4      0.25  38.67          9.23       821.36       Credit Card   Cancelled

          city state        country   sellerid
0   Washington    DC          India  SELL01967
1   Fort Worth    TX  United States  SELL01298
2       Austin    TX  United States  SELL00908
3    Charlotte    NC          India  SELL01164
4  San Antonio    TX         Canada  SELL01411

In [4]:
df_raw.head()

,orderid,orderdate,customerid,customername,productid,productname,category,brand,quantity,unitprice,discount,tax,shippingcost,totalamount,paymentmethod,orderstatus,city,state,country,sellerid
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,KiddoFun,2,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411

In [24]:
df_raw[df_raw['productid'] == 'P00016']

,orderid,orderdate,customerid,customername,productid,productname,category,brand,quantity,unitprice,discount,tax,shippingcost,totalamount,paymentmethod,orderstatus,city,state,country,sellerid
58,ORD0000059,2021-10-08,CUST031615,Arjun Singh,P00016,Air Fryer,Toys & Games,Apex,3,184.70,0.30,46.54,7.98,442.39,Debit Card,Delivered,Dallas,TX,United States,SELL00280
82,ORD0000083,2023-01-09,CUST038225,Ritika Verma,P00016,Air Fryer,Books,UrbanStyle,3,258.13,0.05,132.42,7.69,875.78,UPI,Delivered,Austin,TX,United States,SELL01872
90,ORD0000091,2024-11-30,CUST007564,Sahil Kumar,P00016,Air Fryer,Clothing,NexPro,5,201.16,0.20,64.37,9.38,878.39,UPI,Delivered,Denver,CO,United States,SELL00155
163,ORD0000164,2024-01-25,CUST048496,Sahil Kumar,P00016,Air Fryer,Electronics,NexPro,3,465.66,0.10,62.86,0.89,1321.03,Amazon Pay,Returned,Dallas,TX,United States,SELL00141
182,ORD0000183,2022-01-12,CUST015222,Karan Gupta,P00016,Air Fryer,Electronics,ReadMore,2,375.82,0.05,35.70,13.55,763.31,Amazon Pay,Returned,Houston,TX,Australia,SELL00166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99839,ORD0099840,2024-08-18,CUST037929,Karan Kapoor,P00016,Air Fryer,Clothing,KiddoFun,1,62.23,0.10,6.72,14.41,77.14,Debit Card,Delivered,Austin,TX,United States,SELL01677
99883,ORD0099884,2022-11-12,CUST007340,Aman Kumar,P00016,Air Fryer,Home & Kitchen,BrightLux,2,195.31,0.00,19.53,4.85,415.00,Credit Card,Shipped,Washington,DC,United States,SELL01424
99935,ORD0099936,2023-10-29,CUST009909,Kabir Verma,P00016,Air Fryer,Clothing,CoreTech,1,400.22,0.25,15.01,11.36,326.54,Net Banking,Shipped,San Francisco,CA,United States,SELL00146
99971,ORD0099972,2020-11-25,CUST003769,Kabir Joshi,P00016,Air Fryer,Home & Kitchen,CoreTech,1,221.37,0.00,17.71,13.73,252.81,Credit Card,Delivered,Phoenix,AZ,India,SELL00472
99989,ORD0099990,2021-05-12,CUST005788,Aarav Reddy,P00016,Air Fryer,Sports & Outdoors,UrbanStyle,5,341.55,0.20,68.31,14.15,1448.66,Net Banking,Delivered,San Diego,CA,United States,SELL01933

There are several incongruencies that need to be addressed (as will be justified below). For instance, products such as Drone Mini or Microphone, which are clearly electronic devices, are categorized as Books or Clothing. These inconsistencies invalidate key assumptions in our database necessary for database normalisation (including uniqueness constraints and functional dependencies). 

As a result, two options are available: Dropping the affected columns, or applying domain-specific corrections that follow logic (e.g., reclassifying products into appropriate categories such as Electronics).

It is important to note that the dataset appears to be randomly generated, and therefore contains structural flaws that limit the validity of any deep business analysis. However, the objective of this project is not to obtain realistic insights about the market, but to demonstrate practical skills in database design, normalization, data cleaning, and analytical pipelines (SQL → Pandas → Visualization).

With that in mind, the dataset serves as a sandbox to apply data engineering and analytical techniques, despite its lack of real-world coherence.

In [25]:
df_raw[['productid', 'productname', 'category', 'brand']].head(n=5)

  productid          productname        category       brand
0    P00014           Drone Mini           Books   BrightLux
1    P00040           Microphone  Home & Kitchen  UrbanStyle
2    P00044  Power Bank 20000mAh        Clothing  UrbanStyle
3    P00041       Webcam Full HD  Home & Kitchen      Zenith
4    P00029              T-Shirt        Clothing    KiddoFun

We can already observe nearly all products are classified in the wrong categories, meaning its not coincidence. And we can also observe several products are classified improperly, but without consistence — the column could be disorganised, or mismatched (for example, category rows set a few rows higher or lower than the product it belongs to), but in any case, the mistmatch is there.

A similar issue arises with brand assignments. For example, a brand such as FitLife appearing in the Home & Kitchen category, or ReadMore associated with Toys & Games, further suggests structural inconsistencies within the dataset. These patterns point to broader issues in the underlying data rather than domain-specific mismatches.

However, as brand-level analysis is not within the scope of this project, the brand attribute will be excluded from subsequent stages of the database design and analysis.

In [6]:
# Categories each brand's product sold belongs to, as a function:
def brand_cat(brand, number):
    filtered = df_raw.loc[df_raw['brand'] == brand, ['category', 'brand']]
    return filtered.head(n=number)

# Change the brand and number of rows displayed as needed here
brand_cat('CoreTech', 10)

          category     brand
32     Electronics  CoreTech
36     Electronics  CoreTech
46     Electronics  CoreTech
63           Books  CoreTech
72    Toys & Games  CoreTech
73  Home & Kitchen  CoreTech
75        Clothing  CoreTech
78  Home & Kitchen  CoreTech
79     Electronics  CoreTech
97     Electronics  CoreTech

We can therefore assume that the entire brand attribute provides too much noise within the data, and its intrinsic value already being low for the scope of this analysis, brings us the decision to drop it altogether.

In [7]:
df_clean = df_raw.drop('brand', axis=1)

And now we can focus on the bigger issue — the mismatch between productname and category. Despite what we said before, a better method to know which has more weight is thinking: Which of the two attributes is more important for a meaningful analysis? The answer is clear: Category is, unless we're doing a market study on specific products, which is not the case.

Additionally, are we confident product name is the correct element here? What if its actually category? One way to check that is to see prices and try to gauge the kind of items sold, comparing unit price, quanitity and both previous attributes to see which make more sense. To do so, we can begin with "Power Bank" since we can guess its price, at 20000mAh, won't be less than 20Eur, and not higher than 50 Eur (with margin of error). If we see any incongruence, we can then gauge if the category gives us more insight.

Another important and key element for later normalisation in SQL — Do productids match with productnames? If they do, yet the category and productname attributes do not, we could try seeing if there's the possibility to assign each product into a specific category in an automated way.

In [27]:
df_raw.head(n=5)

,orderid,orderdate,customerid,customername,productid,productname,category,brand,quantity,unitprice,discount,tax,shippingcost,totalamount,paymentmethod,orderstatus,city,state,country,sellerid
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,KiddoFun,2,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411

In [9]:
df_raw['category'].unique()

array(['Books', 'Home & Kitchen', 'Clothing', 'Toys & Games',
       'Sports & Outdoors', 'Electronics'], dtype=object)

In [10]:
def price_logic(attribute, number, verbose=False):
    sample = df_clean[attribute].sample(n=1).iloc[0]
    df = df_clean[(df_clean[attribute] == sample) & (df_clean['quantity'] == 1)]
    if verbose:
        df_filtered = df[[attribute, 'quantity', 'unitprice', 'discount', 'tax', 'totalamount']].sample(n=number)
        return df_filtered
    else:
        df_filtered = df[[attribute, 'quantity', 'totalamount']].sample(n=number)
        return df_filtered

# price__logic('category', 5, verbose)
price_logic('category', 5)

           category  quantity  totalamount
481    Toys & Games         1        20.41
39858  Toys & Games         1       496.77
91131  Toys & Games         1       518.45
34459  Toys & Games         1       501.49
36804  Toys & Games         1        84.63

Using the previous function and testing several values we quickly reach the conclusion: Neither productname nor category show clear, logical pricing for many of the orders the database holds. This is, with almost complete guarantee, due to a poor design product of an AI generated .csv file. Therefore, this is not a reliable measure to drop neither of them, and we should instead try to see if we can actually clean the data.

However, as we could observe before, productid and productname, unlike with clientid and clientname, are directly related and are normalisable. Therefore, to address inconsistencies, we implement a function that lists all ambiguous product names and allows assignment to categories. This ensures clean categorisation, that can be overwritten until they are all correct.

In [ ]:
log_unfixed_productnames = []

def cat_assigner(productname, category, confirm=False):
    df = df_clean
    df_filter = df[df['productname'] == productname]
    if df_filter['category'].nunique() > 1:
        df_clean.loc[df_clean['productname'] == productname, 'category'] == category
        print(f"All {productname} categories now are {category}.")
    elif confirm:
        df_clean.loc[df_clean['productname'] == productname, 'category'] == category
        print(f"All {productname} categories now are {category}.")
    else   
        print(f"Warning: Only one category exists for {productname}. Use 'confirm=True' to override.")

In [28]:
df_clean = df_clean.drop('productname', axis=1)

KeyError: "['productname'] not found in axis"

The next rational step is to work on several main clear problems observed already:

- The country column is essentially wrong, since all cities and states correspond to the US. Since we lack any additional information, we assume city, state and country are related, and therefore will drop the country column altogether for the sake of database integrity / logic.

- As we already saw during the SQL schema building, the customername attribute is flawed — customerid and customername do not match giving a lot of issues towards database building. However, we have two options in this case: We can either drop the name attribute altogether, or we can set each name a unique customerid, and assume the first appearance of a customername with a customerid is going to be the actual correct customer associated to it. The most rational thing to do would be dropping the column, but for the sake of demonstration, to do this database fix, we'd do the following:

In [12]:
df_clean = df_clean.drop('country', axis=1)

In [13]:
df_customerid_n_name = df_clean[['customerid', 'customername']]
random_name = df_clean['customername'].sample(n=1).iloc[0]
df_customerid_n_name[df_customerid_n_name['customername'] == random_name].head(n=10)

      customerid  customername
19    CUST046893  Vihaan Patel
79    CUST023701  Vihaan Patel
668   CUST039500  Vihaan Patel
687   CUST029704  Vihaan Patel
717   CUST024405  Vihaan Patel
786   CUST000643  Vihaan Patel
856   CUST010916  Vihaan Patel
909   CUST042654  Vihaan Patel
1495  CUST040395  Vihaan Patel
1831  CUST011235  Vihaan Patel

There's something worrying in the database — a lot customers hold more than 100 IDs each... which is not reasonable. This points to either a possible lack of data normalisation, or perhaps (and in this case mostly true) pool of "n" number of users as we will check next cell that are randomly assigned to each id, to make data more visual. This, however, means the customername attribute is completely unfit for normalisation as we checked before, and will therefore be dropped since it is unnecessary for the analysis.

In [14]:
df_clean.groupby('customername')['customerid'].nunique().sort_values()

customername
Vikas Gupta     434
Sunita Reddy    438
Sneha Singh     448
Aman Sharma     450
Kabir Patel     451
               ...
Vihaan Singh    542
Rohit Gupta     545
Pooja Kapoor    548
Arjun Kumar     550
Karan Joshi     555
Name: customerid, Length: 200, dtype: int64

In [15]:
df_clean = df_clean.drop('customername', axis=1)

In [17]:
df_clean

,orderid,orderdate,customerid,productid,category,quantity,unitprice,discount,tax,shippingcost,totalamount,paymentmethod,orderstatus,city,state,sellerid
0,ORD0000001,2023-01-31,CUST001504,P00014,Books,3,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,SELL01967
1,ORD0000002,2023-12-30,CUST000178,P00040,Home & Kitchen,1,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,SELL01298
2,ORD0000003,2022-05-10,CUST047516,P00044,Clothing,3,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,SELL00908
3,ORD0000004,2023-07-18,CUST030059,P00041,Home & Kitchen,5,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,SELL01164
4,ORD0000005,2023-02-04,CUST048677,P00029,Clothing,2,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,SELL01411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,ORD0099996,2023-03-07,CUST001356,P00047,Electronics,2,492.34,0.00,78.77,2.75,1066.20,UPI,Delivered,Jacksonville,FL,SELL00041
99996,ORD0099997,2021-11-24,CUST031254,P00046,Sports & Outdoors,5,449.30,0.00,179.72,6.07,2432.29,Credit Card,Delivered,San Jose,CA,SELL01449
99997,ORD0099998,2023-04-29,CUST012579,P00030,Sports & Outdoors,4,232.40,0.00,74.37,12.43,1016.40,Cash on Delivery,Delivered,Indianapolis,IN,SELL00028
99998,ORD0099999,2021-11-01,CUST026243,P00046,Sports & Outdoors,1,294.05,0.00,23.52,13.09,330.66,Debit Card,Delivered,Charlotte,NC,SELL00324
99999,ORD0100000,2021-12-04,CUST029492,P00019,Home & Kitchen,5,166.70,0.05,63.35,3.34,858.52,Debit Card,Delivered,New York,NY,SELL00761

Therefore, we can conclude this previous dataframe, df_clean, is the valuable, definitive basis we are going to use for our database normalisation. We must keep in mind however that this level of data cleaning would have not been necessary in other data inputs where the data was normalised and, especially, not procedrually generated by artificial intelligence, as we could observe with the customername attribute.

In [19]:
df_clean.to_sql('sales_clean', engine, if_exists='replace', index=False)

1000