In [19]:
from sqlalchemy import create_engine, text
import pandas as pd

In [20]:
engine = create_engine('postgresql+psycopg2://postgres:A222222a@localhost:5432/amazon_sales_db')

with engine.connect() as conn:
    result = conn.execute(text("SELECT version();"))
    for row in result:
        print(row)

('PostgreSQL 18.1 on x86_64-apple-darwin23.6.0, compiled by Apple clang version 16.0.0 (clang-1600.0.26.6), 64-bit',)

In [21]:
query = text("SELECT * FROM sales_raw;")
df_raw = pd.read_sql(query, engine)

print(df.head())

      orderid   orderdate  customerid   customername productid  \
0  ORD0000001  2023-01-31  CUST001504  Vihaan Sharma    P00014
1  ORD0000002  2023-12-30  CUST000178    Pooja Kumar    P00040
2  ORD0000003  2022-05-10  CUST047516    Sneha Singh    P00044
3  ORD0000004  2023-07-18  CUST030059   Vihaan Reddy    P00041
4  ORD0000005  2023-02-04  CUST048677  Aditya Kapoor    P00029

           productname        category       brand  quantity  unitprice  \
0           Drone Mini           Books   BrightLux         3     106.59
1           Microphone  Home & Kitchen  UrbanStyle         1     251.37
2  Power Bank 20000mAh        Clothing  UrbanStyle         3      35.03
3       Webcam Full HD  Home & Kitchen      Zenith         5      33.58
4              T-Shirt        Clothing    KiddoFun         2     515.64

   discount    tax  shippingcost  totalamount     paymentmethod orderstatus  \
0      0.00   0.00          0.09       319.86        Debit Card   Delivered
1      0.05  19.10          1.74       259.64        Amazon Pay   Delivered
2      0.10   7.57          5.91       108.06        Debit Card   Delivered
3      0.15  11.42          5.53       159.66  Cash on Delivery   Delivered
4      0.25  38.67          9.23       821.36       Credit Card   Cancelled

          city state        country   sellerid
0   Washington    DC          India  SELL01967
1   Fort Worth    TX  United States  SELL01298
2       Austin    TX  United States  SELL00908
3    Charlotte    NC          India  SELL01164
4  San Antonio    TX         Canada  SELL01411

In [22]:
df_raw.head()

,orderid,orderdate,customerid,customername,productid,productname,category,brand,quantity,unitprice,discount,tax,shippingcost,totalamount,paymentmethod,orderstatus,city,state,country,sellerid
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,KiddoFun,2,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411

There are several incongruencies that need to be addressed (as will be justified below). For instance, products such as Drone Mini or Microphone, which are clearly electronic devices, are categorized as Books or Clothing. These inconsistencies invalidate key assumptions in our database necessary for database normalisation (including uniqueness constraints and functional dependencies). 

As a result, two options are available: Dropping the affected columns, or applying domain-specific corrections that follow logic (e.g., reclassifying products into appropriate categories such as Electronics).

It is important to note that the dataset appears to be randomly generated, and therefore contains structural flaws that limit the validity of any deep business analysis. However, the objective of this project is not to obtain realistic insights about the market, but to demonstrate practical skills in database design, normalization, data cleaning, and analytical pipelines (SQL → Pandas → Visualization).

With that in mind, the dataset serves as a sandbox to apply data engineering and analytical techniques, despite its lack of real-world coherence.

In [40]:
df_raw[['productname', 'category', 'brand']].head(n=40)

            productname           category       brand
0            Drone Mini              Books   BrightLux
1            Microphone     Home & Kitchen  UrbanStyle
2   Power Bank 20000mAh           Clothing  UrbanStyle
3        Webcam Full HD     Home & Kitchen      Zenith
4               T-Shirt           Clothing    KiddoFun
5          Cookware Set              Books    ReadMore
6           Dress Shirt           Clothing  UrbanStyle
7                 Jeans       Toys & Games    KiddoFun
8          Kids Toy Car  Sports & Outdoors        Apex
9      Wireless Earbuds           Clothing        Apex
10          Car Charger              Books    HomeEase
11       Projector Mini     Home & Kitchen    KiddoFun
12       Vacuum Cleaner     Home & Kitchen      Zenith
13           Microphone     Home & Kitchen        Apex
14           Desk Plant              Books    HomeEase
15                Jeans  Sports & Outdoors    HomeEase
16        Running Shoes     Home & Kitchen      Zenith
17       Graphic Tablet       Toys & Games    KiddoFun
18        Puzzle 1000pc        Electronics    ReadMore
19           Microphone  Sports & Outdoors    HomeEase
20                Jeans       Toys & Games        Apex
21           Smartwatch              Books    ReadMore
22      Smartphone Case       Toys & Games        Apex
23             Backpack        Electronics    ReadMore
24           4K Monitor       Toys & Games    KiddoFun
25          Dress Shirt           Clothing        Apex
26     Smart Light Bulb       Toys & Games  UrbanStyle
27        LED Desk Lamp              Books    HomeEase
28     Smart Light Bulb        Electronics      Zenith
29         Phone Tripod       Toys & Games    ReadMore
30          Car Charger              Books        Apex
31         Gaming Mouse  Sports & Outdoors     FitLife
32    Memory Card 128GB        Electronics    CoreTech
33          Car Charger           Clothing    HomeEase
34             Backpack  Sports & Outdoors   BrightLux
35        Puzzle 1000pc              Books   BrightLux
36           Board Game        Electronics    CoreTech
37          Instant Pot        Electronics    ReadMore
38           Microphone     Home & Kitchen     FitLife
39           Smartwatch              Books    HomeEase

We can already observe nearly all products are classified in the wrong categories, meaning its not coincidence. And we can also observe several products are classified improperly, but without consistence — the column could be disorganised, or mismatched (for example, category rows set a few rows higher or lower than the product it belongs to), but in any case, the mistmatch is there.

A similar issue arises with brand assignments. For example, a brand such as FitLife appearing in the Home & Kitchen category, or ReadMore associated with Toys & Games, further suggests structural inconsistencies within the dataset. These patterns point to broader issues in the underlying data rather than domain-specific mismatches.

However, as brand-level analysis is not within the scope of this project, the brand attribute will be excluded from subsequent stages of the database design and analysis.

In [ ]:
# Categories each brand's product sold belongs to, as a function:
def brand_cat(brand, number):
    filtered = df_raw.loc[df_raw['brand'] == brand, ['category', 'brand']]
    return filtered.head(n=number)

# Change the brand and number of rows displayed as needed here
brand_cat('CoreTech', 10)

          category     brand
32     Electronics  CoreTech
36     Electronics  CoreTech
46     Electronics  CoreTech
63           Books  CoreTech
72    Toys & Games  CoreTech
73  Home & Kitchen  CoreTech
75        Clothing  CoreTech
78  Home & Kitchen  CoreTech
79     Electronics  CoreTech
97     Electronics  CoreTech

We can therefore assume that the entire brand attribute provides too much noise within the data, and its intrinsic value already being low for the scope of this analysis, brings us the decision to it them altogether.

In [66]:
df_clean = df_raw.drop('brand', axis=1)

And now we can focus on the bigger issue — the mismatch between productname and category. Despite what we said before, a better method to know which has more weight is thinking: Which of the two attributes is more important for a meaningful analysis? The answer is clear: Category is. 

Additionally, are we confident product name is the correct element here? What if its actually category? One way to check that is to see prices and try to gauge the kind of items sold, comparing unit price, quanitity and both previous attributes to see which make more sense. To do so, we can begin with "Power Bank" since I know for an instance its price, at 20000mAh, won't be less than 20Eur, and not higher than 50 Eur (with margin of error). If we see any incongruence, we can then gauge if the category gives us more insight.

The next rational step is to work on several main clear problems observed already:

- The country column is essentially wrong, since all cities and states correspond to the US. Since we lack any additional information, we assume city, state and country are related, and therefore will drop the country column altogether for the sake of database integrity / logic.

- As we already saw during the SQL schema building, the customername attribute is flawed — customerid and customername do not match giving a lot of issues towards database building. However, we have two options in this case: We can either drop the name attribute altogether, or we can set each name a unique customerid, and assume the first appearance of a customername with a customerid is going to be the actual correct customer associated to it. The most rational thing to do would be dropping the column, but for the sake of demonstration, to do this database fix, we'd do the following:

In [67]:
df_clean

,orderid,orderdate,customerid,customername,productid,productname,category,quantity,unitprice,discount,tax,shippingcost,totalamount,paymentmethod,orderstatus,city,state,country,sellerid
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,3,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,1,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,3,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,5,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,2,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,ORD0099996,2023-03-07,CUST001356,Karan Joshi,P00047,Memory Card 128GB,Electronics,2,492.34,0.00,78.77,2.75,1066.20,UPI,Delivered,Jacksonville,FL,India,SELL00041
99996,ORD0099997,2021-11-24,CUST031254,Sunita Kapoor,P00046,Car Charger,Sports & Outdoors,5,449.30,0.00,179.72,6.07,2432.29,Credit Card,Delivered,San Jose,CA,United States,SELL01449
99997,ORD0099998,2023-04-29,CUST012579,Aman Gupta,P00030,Dress Shirt,Sports & Outdoors,4,232.40,0.00,74.37,12.43,1016.40,Cash on Delivery,Delivered,Indianapolis,IN,United States,SELL00028
99998,ORD0099999,2021-11-01,CUST026243,Simran Gupta,P00046,Car Charger,Sports & Outdoors,1,294.05,0.00,23.52,13.09,330.66,Debit Card,Delivered,Charlotte,NC,United States,SELL00324
99999,ORD0100000,2021-12-04,CUST029492,Sunita Reddy,P00019,LED Desk Lamp,Home & Kitchen,5,166.70,0.05,63.35,3.34,858.52,Debit Card,Delivered,New York,NY,United States,SELL00761

In [23]:
df_raw['productname'].unique()

array(['Drone Mini', 'Microphone', 'Power Bank 20000mAh',
       'Webcam Full HD', 'T-Shirt', 'Cookware Set', 'Dress Shirt',
       'Jeans', 'Kids Toy Car', 'Wireless Earbuds', 'Car Charger',
       'Projector Mini', 'Vacuum Cleaner', 'Desk Plant', 'Running Shoes',
       'Graphic Tablet', 'Puzzle 1000pc', 'Smartwatch', 'Smartphone Case',
       'Backpack', '4K Monitor', 'Smart Light Bulb', 'LED Desk Lamp',
       'Phone Tripod', 'Gaming Mouse', 'Memory Card 128GB', 'Board Game',
       'Instant Pot', 'Water Bottle', 'Portable SSD 1TB',
       'Noise Cancelling Headphones', 'Novel Bestseller',
       "Children's Book", 'Laptop Sleeve', 'Air Fryer', 'Winter Jacket',
       'Router', 'USB-C Charger', 'Fitness Band', 'Sunglasses',
       'Mechanical Keyboard', 'Electric Kettle', 'Wireless Charger',
       'HDMI Cable 2m', 'Desk Organizer', 'Yoga Mat', 'Action Camera',
       'External HDD 2TB', 'Office Chair', 'Bluetooth Speaker'],
      dtype=object)